.blog_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.blog_posts {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.blog_post {
  border: 2px solid #2bb0ff;
  border-radius: 12px;
  padding-left: 10px;
  margin-bottom: 20px;
}

.blog_post h2 {
  color: #71cc74;
  font-family: 'Coding';
}

.leave_comment {
  font-size: 12px;
  color: #2bb0ff;
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: left;
  width: 100%;
  font-style: italic;
}

.post_comments h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #71cc74;
  font-family: 'Coding';
  font-size: 13px;
}

.post_comments p {
  font-size: 12px;
  margin-top: 3px;
}

.comment {
  border-top: 1px solid #2bb0ff;
}

.writing_comment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.writing_comment form {
  width: 100%;
}

.writing_comment input {
  background-color: transparent;
  border: #2bb0ff 1px solid;
  border-radius: 12px;
  padding: 10px;
  font-size: 12px;
  color: white;
}

.writing_comment_divider {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.comment_author,
.comment_email,
.comment_content {
  flex-grow: 1;
}

.comment_email {
  margin-left: 10px;
  margin-right: 10px;
}

.comment_content {
  margin-bottom: 10px;
}

.comment_submit {
  margin: 0;
  background-color: transparent;
  border: #2bb0ff 1px solid;
  border-radius: 12px;
  padding: 10px;
  color: white;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.toggle_post_button {
  font-size: 0.8em;
  background-color: transparent;
  border: #2bb0ff 1px solid;
  border-radius: 12px;
  padding: 10px;
  color: white;
  margin-bottom: 10px;
  cursor: pointer;
}
